/*
 * Header Style 
 *
*/

/* Header Style */
header {
    background: url('...images/favicon-16x16.png') 20px no-repeat center;
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px #CCCCCC;
    display: flex;
    align-items: center;
    
}